.App {
  margin: 0;
  padding: 0;
  text-align: center;
  background: linear-gradient(#70064E, #3D032B);
  width: 100%;
  min-height: 100vh;
  overflow: auto;
}

@media(min-width: 700px){
  .task--list{
    margin: 5% 10%;
  }
}

@media(max-width: 700px){
  .task--list{
    margin: 5% 5%;
  }
}