.task--list--item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  padding: .3rem;
  background-color: #70064e;
  margin: 0.2rem;
  border-radius: 0.3rem;
}

.check--item,
.icons-edit-delete {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.check--item {
  min-width: 80%;
}

.check--item > input {
  width: 18px;
  height: 18px;
  margin-right: 0.4rem;
  cursor: pointer;
}

.Task-name {
  margin: 0;
  font-size: small;
  font-weight: 700;
  color: white;
}

.icons-edit-delete > button {
  height: 2.5rem;
  background: transparent;
  outline: 0;
  border: none;
}

button > .bi {
  font-size: larger;
  padding: 0.1rem;
}

button > .bi-pencil-square,
button > .bi-trash {
  color: gray;
  width: 2rem;
  height: 2rem;
}

.bi-pencil-square:hover {
  color: rgb(0, 216, 58);
  cursor: pointer;
}

.bi-trash:hover {
  color: rgb(212, 24, 24);
  cursor: pointer;
}
