footer{
    width: 100%;
    text-align: center;
    height: 5rem;
}

.footer--p{
    width: 100%;
    color: white;
    margin: 2rem;
}

a{
    color: #70064E;
     margin: .1rem
}

a:hover{
    cursor: pointer;
    color: white;  
}