footer{
    width:100%;
    text-align: center;
    height: 5rem;
    border-top: 1px solid gray;
}

.footer--p{
    color: white;
    margin: 2rem;
}

a{
    color: #00B8BD;
     margin: .1rem
}

a:hover{
    cursor: pointer;
    color: white;  
}