.align-end{
    width: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 1rem 0;
}
.search--task{
    width: 12rem;   
    padding: .4rem;
    border: 1px solid gray;
    border-radius: 1.5rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.search{
    width: 8rem;
}

#button-search{
   width: 2rem;
   height: 2rem;
   background-color: transparent;
   border: none;
}

#button-search:hover{
  background-color: rgba(0, 0, 0, 0.303);
  border-radius: 50%;
  cursor: pointer;
}

.bi-search{
    font-size:medium;
    color: white;
}

.bi-search:hover{
   color: gray;
}

#display{
    display: none;
}