.task--list--item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    background-color: #70064E;
    margin: 0.2rem;
    border-radius: 0.3rem;
}

.check--item,
.icons-edit-delete {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.check--item{
  min-width: 80%;
}

.check--item > input{
  width: 18px;
  height: 18px;
  margin-right: .4rem;
}

.Task-name{
    margin: 0;
    font-size: small;
    font-weight: 700;
    color: white
}

.bi{
  font-size:larger;
  padding: .1rem;
}

.bi-pencil-square,
.bi-trash{
  color: gray;
}

.bi-pencil-square:hover {
  color: rgb(0, 216, 58);
}

.bi-trash:hover {
  color: rgb(212, 24, 24);
}
